.header {
  padding: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto 5px;
  align-items: center;
}

.logo {
  flex: 1;
}

.logo a {
  font-size: 30px;
  color: #000;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
}

.nav-item {
  border-right: 2px solid #000;
  padding: 0 1.5rem;
  text-align: center;
}

.nav-item:last-child {
  border: none;
}

.nav-link {
  display: block;
  text-decoration: underline;
  color: blue;
  font-size: 1.5rem;
}
